<h1>Meet the Robots</h1>

<% @robots.each do |robot| %>
  <a href="/robots/<%= robot.id %>"><%= robot.name %></a>
  <a href="/robots/<%= robot.id %>/edit">Edit</a>
  <form action="/robots/<%= robot.id %>" method="POST">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="Deactivate">
  </form>
<% end %>
