<h1>Activate your Robot</h1>

<form action="/robots" method="POST">
  Name:        <input type="text" name="robot[name]"><br/>
  City:        <input type="text" name="robot[city]"><br/>
  State:       <input type="text" name="robot[state]"><br/>
  Birthdate:   <input type="text" name="robot[birthdate]"><br/>
  Date Hired:  <input type="text" name="robot[date_hired]"><br/>
  Department:  <input type="text" name="robot[department]"><br/>
  Avatar(URL): <input type="text" name="robot[avatar]"><br/>
  Feeling:     <input type="text" name="robot[feeling]"><br/>
  <input type="submit" value="Activate Robot"/>
</form>
