<h1>Sign Up to Create Your Very Own Robot!</h1>

<form action="/signup" method="POST">
  Name:        <input type="text" name="user[name]"><br/>
  Email:       <input type="email" name="user[email]"><br/>
  <input type="submit" value="It's Robot Time!"/>
</form>
